In [13]:
# make directory and change permission for kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [14]:
# download dataset with 'copy api command' from kaggle
!kaggle datasets download -d aungpyaeap/fish-market

fish-market.zip: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
import pandas as pd
openfile = pd.read_csv('/content/fish-market.zip')
openfile.sample(5)

    Species  Weight  Length1  Length2  Length3   Height   Width
65   Parkki   150.0     18.4     20.0     22.4   8.8928  3.2928
117   Perch   650.0     36.5     39.0     41.4  11.1366  6.0030
10    Bream   475.0     28.4     31.0     36.2  14.2628  5.1042
73    Perch    32.0     12.5     13.7     14.7   3.5280  1.9992
96    Perch   225.0     22.0     24.0     25.5   7.2930  3.7230